.modalBackground {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  
  .modalContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
  }

  

  


  
