@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.lmj-shopping-list {
	width: 100%;
	padding-top: 100px;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.lmj-plant-list button {
	background-color: #b16670;
	border: none;
	padding: 10px;
	position: fixed;
	outline: none;
	color: white;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	width: 40%;
	bottom: 13px !important;
	left: 90px !important;
}

.lmj-plant-list button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-color: #e49ba5;

	transition: transform 300ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;

  }
  
  .lmj-plant-list button:hover::before,
  .lmj-plant-list button:focus::before {
	transform: scaleX(1);
  }
  
  .lmj-plant-list button {
	transition: color 300ms ease-in-out;
	z-index: 0;
  }
  
  
  .lmj-plant-list button:hover,
  .lmj-plant-list button:focus {
	color: white;
  }

#cards {
	background-color: #FFEEDD;
	margin: 10px;
	border-radius: 7%;
	transform-style: preserve-3d;
	transition: transform 0.8s cubic-bezier(0.86,0,0.07,1);
	padding: 5px;
}

.card-wrapper:hover #cards{
	transform: rotateY(180deg);
}

.card-wrapper {

	perspective: 2000px;
	perspective-origin: center;
}

.card-front, .card-back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.card-back {
	height: 100%;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	transform: rotateY(180deg);
	display: flex;
	align-items: center;
	position: fixed;
	text-align: center;
	top: 0 !important;

}
.card-front {
	pointer-events: none;

}