@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image:-webkit-linear-gradient(left, #fffad6 0%, #dd6e24 100%);
  background-image: linear-gradient(to bottom, #fffad6 0%, #dd6e24 100%);
  color: #283618 !important;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}